{
	"name": "@{{ workspace }}/scripts",
	"packageManager": "yarn@4.2.2",
	"type": "module",
	"devDependencies": {
		"tsx": "^4.19.2",
		"typescript": "^5.7.3",
		"zx": "^8.3.0"
	},
	"dependencies": {
		"luxon": "^3.5.0"
	}
}
